*
{
margin: 0px;
padding: 0px;
}
.clearfix
{
    clear: both;
}
.home
{
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: 100% ;
    background-position: center center;
    height: 100vh; 
    text-align: center;
    color: white;
}
.home h1
{
    font-size: 60px;
    margin-top: 230;

}
.home p
{
    font-family: 'Alegreya Sans', sans-serif;
    color: #ccc;
    font-size: 32px;
    
}
.home button
{
    border: none;
    padding: 15px 30px;
    margin-top: 50px;  
}
.home .btn1
{
    background-color: #8e7754;
}

.bread
{
    margin: 30px;
}
.bread-1
{
    width: 40%;
    float: left;

}
.bread-1 img
{
    width: 100%;
}
.bread-ds
{
    width: 60%;
    float: left;
    padding-top: 150px;
}
.bread-ds h2{
    text-align: center;
}
.bread-ds p{
    padding: 30px;
    text-align: center;

}
.bread-ds img{
    padding-left: 60px;
}
.bread-ds ul
{
    padding: 50px;
}
.page
{
    background-color: #ccc;
    margin: 50px 0px;
}
.page2
{
    width: 40%;
    text-align: center;
    float: left;
    padding: 20px;
}
.page2 h2
{
    padding-top: 150;
}
.page2 p
{
    padding-top: 30px;
}
.page-image
{
    width: 40%;
    float: left;
}
.page-image img
{
    width: 100%;
    padding: 50px;
}

.packagelogo
{
    text-align: center;
}
.packagelogo span
{
    font-size: 32px;
    color: #8e7754;
}
.packagelogo p{
    padding: 30px;
}
.package
{
    background-color: lavender;
    padding: 20px 0px;
}
.meal
{
    width: 33.33333%;
    text-align: center;
    float: left;
}
.meal img
{
    width: 70%;
}
.meal h3{
    padding-top: 30;
}
.meal p
{
    padding: 50px;
}
.map
{
    padding: 20px 40px;
}
.map1
{
    width: 50%;
    float: left;
    text-align: center;
}
.map1 h2
{
    padding-top: 100px;
}
.map1 p
{
    padding: 40px 40px;
}

.map1 table
{
    padding-top: 40px;
}
.map1 img
{
    width: 70%;
}
.content
{
    background-color: darkcyan;
    padding: 30px 0px;

}
.content-1
{
    width: 25%;
    float: left;
    text-align: center;

}
.content-1 p{
    padding-top: 35px;
    float: left;

}
.content-1 ol
{
    padding: 40px;

}

.bakery
{
background-color: dimgrey; 
text-align: center;
}
.bakery img
{
    padding: 25px 0px;
}
.bakery p
{
    padding-bottom: 40px;
}

   

    






